/* Text Styles */
hr { color: #000000}
body, table, tr, th /* Normal */
{
 font-size: 11pt;
 font-family: 'Intel Clear';
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.f_Body /* Body */
{
}
span.f_CodeExample /* Code Example */
{
 font-size: 10pt;
 font-family: 'Courier New';
}
span.f_CodeExampleEmphasis /* Code Example Emphasis */
{
 font-size: 10pt;
 font-family: 'Courier New';
 font-weight: bold;
}
span.f_Comment /* Comment */
{
}
span.f_Heading1 /* Heading1 */
{
 font-size: 14pt;
 font-family: Cambria;
 font-weight: bold;
 color: #365f91;
}
span.f_Heading2 /* Heading2 */
{
 font-size: 13pt;
 font-family: Cambria;
 font-weight: bold;
 color: #4f81bd;
}
span.f_Heading3 /* Heading3 */
{
 font-family: Cambria;
 font-weight: bold;
 color: #4f81bd;
}
span.f_Image /* Image */
{
}
span.f_ImageCaption /* Image Caption */
{
 font-size: 8pt;
 font-weight: bold;
}
span.f_IndentedList /* Indented List */
{
}
span.f_InternalHeading /* InternalHeading */
{
 font-family: Cambria;
 font-weight: bold;
}
span.f_List /* List */
{
}
span.f_Normal2 /* Normal2 */
{
}
span.f_Notes /* Notes */
{
}
span.f_SectionTitle /* SectionTitle */
{
 font-size: 26pt;
 font-family: Cambria;
 font-weight: bold;
 color: #365f91;
}
span.f_Step /* Step */
{
}
span.f_TableText /* TableText */
{
}
span.f_TableText2 /* TableText2 */
{
}
span.f_TipNoteCautionWarning /* TipNoteCautionWarning */
{
}
/* Paragraph styles */
p /* Normal */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p_Body /* Body */
{
 margin: 7px 0px 7px 0px;
}
.p_CodeExample /* Code Example */
{
}
.p_CodeExampleEmphasis /* Code Example Emphasis */
{
}
.p_Comment /* Comment */
{
}
.p_Heading1 /* Heading1 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p_Heading2 /* Heading2 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p_Heading3 /* Heading3 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 14px 0px 7px 0px;
}
.p_Image /* Image */
{
 text-align: center;
 margin: 14px 0px 7px 0px;
}
.p_ImageCaption /* Image Caption */
{
 text-align: center;
 margin: 0px 0px 7px 0px;
}
.p_IndentedList /* Indented List */
{
 text-indent: -36px;
 margin: 7px 0px 7px 72px;
}
.p_InternalHeading /* InternalHeading */
{
 margin: 14px 0px 7px 0px;
}
.p_List /* List */
{
 text-indent: -36px;
 margin: 7px 0px 7px 36px;
}
.p_Normal2 /* Normal2 */
{
}
.p_Notes /* Notes */
{
}
.p_SectionTitle /* SectionTitle */
{
 text-align: center;
 margin: 115px 0px 7px 0px;
}
.p_Step /* Step */
{
 text-indent: -36px;
 margin: 7px 0px 7px 36px;
}
.p_TableText /* TableText */
{
 margin: 0px 0px 14px 0px;
}
.p_TableText2 /* TableText2 */
{
}
.p_TipNoteCautionWarning /* TipNoteCautionWarning */
{
 margin: 7px 0px 7px 36px;
}


#hmlightbox /* image lightbox */
{
  border: none;
  padding: 8px;
  background: #FFF;
  font-size: 110%;
  font-weight: bold;
  color: #777;
  box-shadow: 5px 5px 5px #888;
}

a.dropdown-toggle /* dropdown toggle caption */
{
  cursor: pointer;
}
a.inline-toggle /* inline toggle caption */
{
  cursor: pointer;
}
img.dropdown-toggle-icon /* toggle icon */
{
  cursor: pointer;
}
